html {
  scroll-behavior: smooth;
}

body {
  padding: 1rem 1rem 5rem 1rem;
}

#board {
  min-width: 80%;
}

#board table, #board th, #board td {
  border: 1px solid black;
  padding: 3px;
}

#prompt {
  min-width: 80%;
}

.context-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
